@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  gap: 10px;
}

.input-box{
  padding: 10px;
  height: 40px;
  width: 270px;
  border: 1.3px solid grey;
  border-radius: 8px;
  font-size: 17px;
}


.btn{
  height: 40px;
  width: 70px;
  border-radius: 8px;
  border: 1.3px solid transparent;
  background-color: rgb(51, 68, 255);
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.btn:hover{
  background-color: rgb(7, 17, 134);
  transition: background-color 0.2s ease-in-out;
}